# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [92]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [93]:
vacation_data = pd.read_csv("weather_data.csv")
vacation_data

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,malmesbury,-33.46,18.73,64.40,93,75,5.82,ZA,1607463214
1,cherskiy,68.75,161.30,-12.86,89,100,7.00,RU,1607463214
2,atuona,-9.80,-139.03,78.60,73,1,12.15,PF,1607463214
3,taga,46.95,24.05,34.00,86,20,6.93,RO,1607463214
4,hobart,-42.88,147.33,62.60,48,75,13.87,AU,1607463113
5,saskylakh,71.92,114.08,-16.02,87,97,3.53,RU,1607463214
6,qaanaaq,77.48,-69.36,-1.64,80,52,3.24,GL,1607463214
7,arlit,18.74,7.39,78.44,19,0,8.23,NE,1607463215
8,kapaa,22.08,-159.32,82.40,69,20,13.87,US,1607463215
9,bluff,-46.60,168.33,60.01,73,96,10.00,NZ,1607463215
10,busselton,-33.65,115.33,62.01,81,11,5.01,AU,1607463215
11,whitehorse,60.72,-135.05,30.99,86,75,12.75,CA,1607463215
12,albany,42.60,-73.97,27.00,64,20,1.99,US,1607463215
13,price,39.60,-110.81,48.20,18,1,3.36,US,1607463215
14,kahului,20.89,-156.47,86.00,45,40,17.22,US,1607463193
15,port lincoln,-34.73,135.87,60.78,70,0,4.92,AU,1607463216
16,saint-remi,45.27,-73.62,24.01,79,67,8.05,CA,1607463216
17,tiksi,71.69,128.87,-19.95,88,95,5.03,RU,1607463216
18,altay,47.87,88.12,6.71,78,53,2.37,CN,1607463216
19,komsomolskiy,40.43,71.72,33.80,80,90,2.24,UZ,1607463216
20,manado,1.49,124.85,75.20,94,40,1.12,ID,1607463110
21,punta arenas,-53.15,-70.92,51.80,93,90,10.29,CL,1607463126
22,olinda,-8.01,-34.86,78.80,65,40,9.17,BR,1607463207
23,del rio,29.36,-100.90,78.80,14,1,5.82,US,1607463217
24,lieksa,63.32,30.02,27.79,92,0,10.36,FI,1607463217
25,butaritari,3.07,172.79,81.88,78,13,8.99,KI,1607463217
26,innisfail,-17.53,146.03,83.82,74,44,0.16,AU,1607463217
27,laramie,41.31,-105.59,52.00,37,0,15.19,US,1607463218
28,caravelas,-17.71,-39.25,77.99,77,41,10.40,BR,1607463218
29,dikson,73.51,80.55,-1.16,92,100,23.15,RU,1607463218
30,east london,-33.02,27.91,72.21,79,100,13.27,ZA,1607463218
31,broome,42.25,-75.83,30.00,58,1,10.29,US,1607463218

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [94]:
gmaps.configure(api_key=g_key)

locations = vacation_data[["Lat", "Lng"]].astype(float)
humidity = vacation_data["Humidity"].astype(float)
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius=1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [95]:
new_vacation = vacation_data.loc[(vacation_data["Max Temp"] < 80) & (vacation_data["Max Temp"] > 70) & (vacation_data["Wind Speed"] < 10) 
                                 & (vacation_data["Cloudiness"] == 0)] 
new_vacation.dropna().head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
7,arlit,18.74,7.39,78.44,19,0,8.23,NE,1607463215

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [96]:
hotel_df = new_vacation.loc[:,["City","Country", "Lat", "Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df

    City Country    Lat   Lng Hotel Name
7  arlit      NE  18.74  7.39

In [97]:
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"keyword": "hotel", "type": "hotel", "radius": 5000, "key": g_key}

#iterate through hotel dataframe
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    params["location"] = f'{lat}, {lng}'
    
    #assemble URL and API request
    print(f'Retrieving results for {index}: {city_name}.')
    response = requests.get(url, params=params).json()
    
    results = response["results"]
    
    try:
        print(f'The closest hotel in {city_name} is {results[0]["name"]}.')
        hotel_df.loc[index, "Hotel Name"] = results[0]["name"]
          
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")   
    
    time.sleep(1)
          
print("----------------------------")

Retrieving results for 7: arlit.
The closest hotel in arlit is Hôtel Telwa Bungalow.
----------------------------

In [98]:
hotel_df

    City Country    Lat   Lng            Hotel Name
7  arlit      NE  18.74  7.39  Hôtel Telwa Bungalow

In [99]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [100]:
# Add marker layer on top of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))